<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        body {
            position: relative;
            min-height: 100vh;
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
        .score {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        
    </style>
</head>
<body>
    <br>
    <h1>Quiz</h1>
    <form method = "POST" action= "/">
        <!-- Question about the user's name -->
        <h2>Your Username: What is your name?</h2>
        <input type="text" name="username" required>

        <!-- First question with multiple choice --> 
        <h2>Question 1: Aşağıdakilerden hangisi bilgisayar görüşü uygulamalarından biridir?</h2>
        <input type="radio" name="question1" value="A"> Web Tarayıcısı (Web Browser)<br>
        <input type="radio" name="question1" value="B"> ( Metin Editörü (Text Editor))<br>
        <input type="radio" name="question1" value="C"> Yüz Tanıma (Face Recognition)

        <br>

        <!-- Second question with multiple choice -->
        <h2>Question 2: Aşağıdakilerden hangisi Doğal Dil İşleme (NLP) uygulamalarından biridir?</h2>
        <input type="radio" name="question2" value="A"> Makine Çevirisi (Machine Translation)<br>
        <input type="radio" name="question2" value="B"> Görüntü Sınıflandırma (Image Classification)<br>
        <input type="radio" name="question2" value="C"> Ses Frekansı Analizi (Sound Frequency Analysis)<br>

        <!-- Third question with a text input -->
        <h2>Question 3: Aşağıdakilerden hangisi Python kullanılarak yapay zeka (AI) modelleri geliştirmek veya 
            uygulamak için yaygın olarak kullanılan bir kütüphane değildir?:</h2> 
            <input type="radio" name="question3" value="A"> TensorFlow<br>
            <input type="radio" name="question3" value="B"> Scikit-learn<br>
            <input type="radio" name="question3" value="C"> Photoshop<br>
    
        
        <h2>Question 4: Aşağıdakilerden hangisi Python'da yapay zeka (AI) geliştirme sürecinde genellikle doğru bir yaklaşımdır?</h2> 
                <input type="radio" name="question4" value="A"> Veri setini, eğitim ve test için ayırmadan tüm verilerle modeli eğitmek<br>
                <input type="radio" name="question4" value="B"> Model performansını değerlendirmek için doğruluk (accuracy) yerine uygun bir metrik seçmek.<br>
                <input type="radio" name="question4" value="C"> AI modelini eğitmeden önce parametre optimizasyonu yapmak.<br>
<br>
        
        
        
        
        
        <input type="submit" value="Submit Answers">

    </form>
    {% if best_score %}
    <div class="score">
        <p>Best Score: {{ best_score }}</p>
    </div>
    {% endif %}

    {% if error %}
    <div style="color: red; text-align: center;">
        <p>{{ error }}</p>
    </div>
    {% endif %}

    <footer>
        Merhaba, ben Aykut Engür. İstanbul Teknik Üniversitesi Bilişim Sistemleri Mühendisliği ve Binghamton University Computer Science çift diploma 
        programında birinci sınıf öğrencisiyim. Kodlamaya olan tutkum, teknolojiyi anlamak ve yaratıcı çözümler geliştirmek adına bana büyük bir 
        motivasyon sağlıyor. Gelecekte, yazılım ve yapay zeka alanlarında derinleşerek bu tutkumla daha büyük projelere imza atmayı hedefliyorum.
        
    </footer>


</body>

</html>